li.instagram, .with-color.fa-instagram {
    background: #c72090;
}

li.telegram, .with-color.fa-telegram {
    background: #0088cc;
}

li.twitter, .with-color.fa-twitter {
    background: #1DA1F2;
}

li.linkedin, .with-color.fa-linkedin {
    background: #0077B5;
}

li.whatsapp, .with-color.fa-whatsapp {
    background: #25D366;
}

li.facebook, .with-color.fa-facebook {
    background: #1877F2;
}

li.pinterest, .with-color.fa-pinterest {
    background: #BD081C;
}

li.reddit, .with-color.fa-reddit {
    background: #FF4500;
}

li.youtube, .with-color.fa-youtube {
    background: #FF0000;
}

li.github, .with-color.fa-github {
    background: #181717;
}

li.rss, .with-color.fa-rss {
    background: #FFA500;
}

.breadcrumb > li {
    display: inline-flex;
}

.ads-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-content-row {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.second-content-row .featured-tab {
    padding: 0;
}

.third-content-row {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .second-content-row {
        padding: 0 2rem;
    }

    .second-content-row .featured-tab {
        width: 100%;
    }

    .third-content-row {
        display: block;
    }

    .third-content-row > div:not(:first-child) {
        margin-top: 10rem;
    }
}

.ads-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
