.second-sidebar {
    margin: 5.5rem 0 0;
}

.post-navigation {
    width: 100%;
}

.related-posts img {
    height: 16rem;
}

.comments-list .comment-edit, .comments-list .comment-delete {
    color: #303030;
    font-weight: 400;
}

.comments-list .comment-edit:hover, .comments-list .comment-delete:hover {
    color: #ec0000;
}

.author-info h3 a {
    color: black;
}

.author-info h3 a:hover {
    color: #ec0000;
}

.comments-link {
    color: #a3a3a3 !important;
}

.comments-link * {
    transition: .3s all;
}

.comments-link:hover * {
    color: #ec0000 !important;
}

.post-like {
    color: #a3a3a3;
    cursor: pointer;
    transition: .3s all;
}

.post-like:hover {
    color: #ec0000;
    cursor: pointer;
}

.post-unlike {
    color: #ec0000 !important;
    cursor: pointer;
    transition: .3s all;
}

.post-unlike:hover {
    color: #a3a3a3 !important;
}

.like-count {
    display: inline;
}

.category-listing img {
    max-width: 100%;
    overflow-x: hidden;
    word-break: break-word;
}
